/* {
    border: 1px solid red;
}*/

img[alt="imagen-cabecera"] {
    width: 864px;
    height: 253px;
  
}
body{
    width: 864px;
    margin: auto;
    background-color:#faf7f7;
    box-shadow: 2px 2px 30px -13px rgba(0,0,0,0.75);
    font-family: 'Work Sans','sans-serif';
    font-size: 18px;
    color:#585858;
    line-height: 147%;
}
h1{
    margin:30px;
    font-size: 1em;
    font-style: italic;
    color: #848484;
    font: normal normal 19.6px Open Sans;
}
h2{
    color: #3499ff;
    font: italic normal 2em Corsiva;
    letter-spacing: 5px;
    text-align: center;
}
a{
    text-decoration: none;
}

figcaption{
    font-size: 0.8em;
    font-style: italic;
}
nav{
    /* porque aquí no funciona el margin: auto;?*/
    text-align: center;
}
ul{
    border-bottom: 1px solid black;
}

li {
    display: inline-block;
    margin: 5px 10px 10px 20px;
}

li a {
    color: #000000;
}

figure {
    margin: auto;
    display: block;
    width: 90%;
    height: 90%;
    
}
main {
    box-sizing: border-box;
    width: 60%;
    padding: 30px;
    border-right: 1px solid #dfdcdc;
    text-align: justify;

}
aside {
    box-sizing: border-box;
    width: 40%;
    padding: 30px;
    margin: 0 auto; 
}
main img {
    /*centrar imagen*/
    width: 100%;
    height: 100%;
    /*margin: auto;
    display: block;*/
    
}
#rrsslogo{
    width: 100%;

    
}
#contenido {
    display: flex;
}

.imgentradas {
    float: left;
}

#entradaspopulares a{
    margin: 20px;
}

#entradaspopulares {
    /*no puedo ajustar el ancho de este div. Es porque tiene display flex?*/
    display: flex;
    flex-direction: column;
    width: 279px;
    font-size: 0.8em;
}
#up {
    position: fixed;
    top: 800px;
    right: 0px;
    
}

.textoentradas {
    position: relative;
    left: 15px;
}